<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balancer</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <script defer src='/javascripts/jquery.slim.min.js'></script>
    <script defer src='/javascripts/bootstrap.min.js'></script> -->
    <script defer src='/javascripts/main.js'></script>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand mb-0 h1" href="/">Balancer</a>

                <ul class="navbar-nav ml-auto">
                    <% if(user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/google">Login</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container pt-3">