<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balancer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <header>
        <h1>Balancer</h1>

        <nav>
            <ul>
                <% if(user) { %>
                <li><a href='/'>Home</a></li>
                <li><a href="/logout">Log Out</a></li>
                <% } else { %>
                <li><a href="/auth/google">Login with Google</a></li>
                <% } %>
            </ul>
        </nav>
    </header>