<%- include('../partials/header') %>

<h2>New Balance</h2>

<form action="/balances" method="POST" autocomplete="off">

    <label>
        <input type="date" name="date" value="<%= today %>" />
    </label>

    <br /><br />

    <label>
        Notes/comments<br />
        <textarea name="notes"></textarea>
    </label>

    <br /><br />

    <button type="submit">Create</button>
</form>

<p><a href="/dashboard">Go Back</a></p>

<%- include('../partials/footer') %>