<%- include('../partials/header') %>

<h2>New Balance Log</h2>

<form action="/balances" method="POST" autocomplete="off">

    <div class="form-group">
        <input type="date" name="date" class="form-control" value="<%= today %>" required />
    </div>

    <div class="form-group">
        <label for="startingBalance">Starting Balance</label>
        <input type="text" name="startingBalance" id="startingBalance" class="form-control" value="0.00" required />
    </div>

    <div class="form-group">
        <label for="notes">Notes</label>
        <textarea name="notes" id="notes" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary mb-3">Create</button>
</form>

<p><a href="/dashboard">Go Back</a></p>

<%- include('../partials/footer') %>