<%- include('../partials/header') %>

<h2>New Bill</h2>

<form action="/budgets/<%= budgetId %>/bills" method="POST">

    <label>
        Name
        <input type="text" name="name" required />
    </label>

    <br /><br />

    <label>
        Due Date (1-31)
        <input type="text" name="dueDate" pattern="0*([1-9]|[12][0-9]|3[01])" required />
    </label>

    <br /><br />

    <label>
        <input type="checkbox" name="autoPay" value="1" /> Auto-Pay
    </label>

    <br /><br />

    <label>
        Auto-Pay Account
        <input type="text" name="autoPayAccount" />
    </label>

    <br /><br />

    <label>
        Total
        <input type="text" name="total" pattern="^\$?([0-9]{1,3},([0-9]{3},)*[0-9]{3}|[0-9]+)(\.[0-9][0-9])?$"
            required />
    </label>

    <br /><br />

    <label>
        Bill Pay Website
        <input type="text" name="url" />
    </label>

    <br /><br />

    <button type="submit">Create</button>
</form>

<p><a href="/dashboard">Go Back</a></p>

<%- include('../partials/footer') %>